<h1>Chaining algorithm</h1>

<% if flash[:error] %>
  <p class="error"><font color="red">*<%= flash[:error] %></font></p>
<% end %>

<form name="input" method="post">
Rytis Karpuska Rules for chaining<br>
<textarea name="rules" cols="75" rows="10"><%= @ruletext %></textarea>
<br>
Facts: <input type="text" name="facts" value="<%= @facttext %>">
<br>
Goal:  <input type="Text" name="goal" value="<%= @goaltext %>">
<br>
<input type="submit" value="Submit">
</form>

<hr>

<% if @data_exists %>
	<p> Rule Count: <%= @rules_cnt %> </p>
	<ul>
	<% @rules.each_with_index do |rule, index| %>
	<li>    R<%=index + 1%>: <%=rule.to_s%></li>
	<% end %>
	</ul>

	<p> Facts: </p>
	<ul>
	<% @facts.each_with_index do |fact, index| %>
	<li>    F<%=index + 1%>: <%=fact%></li>
	<% end %>
	</ul>

	<p> Goal: </p>
	<ul>
	<li>    G1: <%= @goal %> </li>
	</ul>

	<p> <%= @dbgText %> </p>

<hr>

<p>Algorithm Trace:</p>
<ul>
<% @solving_progress.each_with_index do |iter, i| %>
	<li> Iteration <%= i + 1 %>
	<ul>
	<% iter.each do |line| %>
		<li><%= line %></li>
	<% end %>
	</ul>
	</li>
<% end %>
</ul>

<hr>
<p>Results:</p>
<% if @success %>
<p><b>Goal reached successfully</b></p>
<p>Path: <% @path.each_with_index do |pathTurn, i| %>
R<%= pathTurn %><% if i < @path.length - 1 %>,<% end %>
<% end %>
</p>

<% else %>
<p><b>Goal Could not be reached</b></p>
<% end %>

<% end %>

<br>
<br>
<br>


